@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import "tailwindcss";
* {
    font-family: 'Inter', sans-serif;
}

.vt323-regular {
  font-family: "VT323", monospace;
}

/* Navbar Hover Effect */
.nav-link {
    position: relative;
    display: inline-block;
    overflow: hidden;
  }
  
  .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 2px;
    background: #222; /* สีเส้น */
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
  }
  
  .nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
/* Navbar Active Effect */
  .nav-link.active::after {
    transform: scaleX(1);
    transform-origin: left;
    width: 50%;
  }
/* Blinking Cursor */
  .blinking-cursor {
    animation: blink 1s step-end infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }